<html>
<head>
    <title>Cats</title>
</head>
<body>
    <h1>Cats</h1>
    <p id="para">{{cats.michael.name}}</p>
    <p id="para">{{michael}}</p>


    <script>
        console.log({{cats}})
        // const cats = {
        //     cat_1: {
        //         name: 'Murzik'
        //     }
        // }
        // const cat = document.getElementById('para').append(cats.michael)
    </script>
</body>
</html>