<html>
<head>
    <title>Create cat</title>
</head>
<body>
<form action="/cats/create-cat" method="post">
    <input type="text" id="name" name="name">
    <button type="submit">Add</button>
</form>
</body>
</html>