<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <title>Cats</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="container">

<div>
    <h1>Welcome to cats site!</h1>
    <img class="my_img" src="/images/mike-3.jpg" alt="">
    <p>
        <a href="/cats/cats">See Cats</a>
    </p>
</div>


  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
